<div id="main-body" class="container">
    <div class="row panel rounded">
        <div class="col-5">
            <div class="course-info">
                <div class="course-info__component course-info__image" style="background-image: url({{course.img}});">
                </div>
                <div class="row">
                    <div class="col-8">
                        {{#if currentStudent}}
                        <div class="card-text course-info__rating" rated="{{currentStudent.rate}}">
                            <i class="fas fa-star course-info__rating-star" data-bs-toggle="modal" data-bs-target="#rateConfirmModal"></i>
                            <i class="fas fa-star course-info__rating-star" data-bs-toggle="modal" data-bs-target="#rateConfirmModal"></i>
                            <i class="fas fa-star course-info__rating-star" data-bs-toggle="modal" data-bs-target="#rateConfirmModal"></i>
                            <i class="fas fa-star course-info__rating-star" data-bs-toggle="modal" data-bs-target="#rateConfirmModal"></i>
                            <i class="fas fa-star course-info__rating-star" data-bs-toggle="modal" data-bs-target="#rateConfirmModal"></i>
                        </div>
                        {{/if}}
                        <div class="course-info__component course-info__name">{{course.name}}</div>
                        <div class="course-info__component course-info__type">
                            {{#each course.courseTypes}}
                            {{#if this}}
                            <div class="course-info__component course-info__type-item">#{{this}}</div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>

                    <div class="col-4 d-flex">
                        {{#if (checkStudentInCourse user._id course.courseStudents)}}
                        <button type="button" class="btn btn-outline-danger btn-de-register-course" 
                        data-bs-toggle="modal" data-bs-target="#deRegisterConfirmModal">
                            HỦY ĐĂNG KÍ  
                        </button>
                        {{else}}
                        <button type="button" class="btn btn-outline-dark btn-register-course" 
                        data-bs-toggle="modal" data-bs-target="#registerConfirmModal">
                            ĐĂNG KÍ NGAY
                        </button>
                        {{/if}}
                    </div>
                </div>
                <div class="course-info__component course-info__price">Giá: {{course.price}}đ</div>
                <div class="course-info__component course-info__register-count">
                    <div class="course-info__register-pics" maxRenderStudents="{{maxRenderStudents}}">
                        {{#each course.courseStudents}}
                        <div class="register-pic-item" style="background-image: url({{this.img}});"></div>
                        {{/each}}
                        {{#if (checkCompareLarger course.courseStudents.length maxRenderStudents)}}
                        <div class="register-pic-item-etc">+{{sub course.courseStudents.length maxRenderStudents}}</div>
                        {{/if}}
                    </div>
                </div>
                <div class="course-info__component course-info__date">Ngày: {{modifyDate course.createdAt}}</div>
                <div class="course-info__component course-info__description">Nội dung khóa học: {{course.description}}</div>
                <div class="course-info__component course-info__lessons">
                    {{!-- <div class="course-info__component course-info__lessons-title">Danh sách các bài học:</div> --}}
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên bài học</th>
                                <th>Nội dung bài học</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each course.courseLessons}}
                            <tr>
                                <td>{{sum @index 1}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.description}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="course-comments">
                <div class="course-comments__title">Bình luận</div>
                <div class="row panel">
                    <textarea type="text" name="comment" rows="1" class="col-10 course-comments__input" placeholder="Thêm bình luận công khai...."></textarea>
                    <div class="course-comments__buttons col-2">
                        {{#if user}}
                        <input name="course-id" value="{{course._id}}" style="display: none;"/>
                        <input name="student-id" value="{{user._id}}" style="display: none;"/>
                        <input name="student-name" value="{{user.name}}" style="display: none;"/>
                        <button type="submit" class="btn btn-primary btn-comment">BÌNH LUẬN</button>
                        {{else}}
                        <button class="btn btn-primary disabled">BÌNH LUẬN</button>
                        {{/if}}
                    </div>
                </div>
                <div class="row panel course-comments__items-wrapper">
                    {{#each course.courseComments}}
                    <div class="course-comments__item row">
                        <div class="col-1" style="padding: 0">
                            <div class="course-comments__item-avatar" style="background-image: url({{this.img}});"></div>
                        </div>
                        <div class="col-7">
                            <div class="course-comments__item-content">
                                <div class="course-comments__item-content__name">
                                    {{this.studentName}}
                                </div>
                                <div class="course-comments__item-content__text">
                                    {{this.comment}}
                                </div>
                                <div class="course-comments__item-content__time">
                                    At: {{modifyDateTime this.commentAt}}
                                </div>
                            </div>
                        </div>
                        {{#if (checkEqualValues this.studentId ../user._id)}}
                        <div class="col-3 d-flex align-items-center ms-auto">
                            <i class="fas fa-pen btn-edit-comment"></i>
                            <i class="fas fa-trash-alt btn-del-comment"></i>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>             
</div>

<div class="modal modal-confirm" id="signInConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐĂNG KÍ KHÓA HỌC</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn phải đăng nhập trước</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-close-modal-confirm" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-success btn-confirm-open-sign-in">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-confirm" id="registerConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐĂNG KÍ KHÓA HỌC</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn đăng kí khóa học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success btn-confirm-register-course">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-confirm" id="deRegisterConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">HỦY ĐĂNG KÍ KHÓA HỌC</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn hủy đăng kí khóa học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger btn-confirm-de-register-course">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>

<form class="modal modal-confirm" id="rateConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" action="/courses/rate/{{course._id}}/{{user._id}}" method="POST">
    <input name="rate" style="display: none;"/>
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">ĐÁNH GIÁ KHÓA HỌC</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-success btn-confirm-rate-course">Tiếp tục</button>
        </div>
        </div>
    </div>
</form>

<form method="POST" name="register-course" action="/courses/register/{{course._id}}/{{user._id}}" style="display: none;" >
</form>
<form method="POST" name="de-register-course" action="/courses/de-register/{{course._id}}/{{user._id}}" style="display: none;" >
</form>

<script src="/js/comment-course.js"></script>

<script>
        $(document).ready(function(){
            $('head title').html(`Khóa ${$('.course-info__name').html()}`);

            //Render Register btn
            if(!$('.navbar__btn-sign-in').html()){
                $('.btn-register-course').attr('data-bs-toggle', 'modal');
                $('.btn-register-course').attr('data-bs-target', '#registerConfirmModal');
            }
            else{
                $('.btn-register-course').attr('data-bs-toggle', 'modal');
                $('.btn-register-course').attr('data-bs-target', '#signInConfirmModal');
            }

            //Confirm register Clicked
            $('.btn-confirm-register-course').click(function(){
                $('form[name="register-course"]').submit();
            });

            //Confirm de-register Clicked
            $('.btn-confirm-de-register-course').click(function(){
                $('form[name="de-register-course"]').submit();
            });

            //Confirm Signin Clicked
            $('.btn-confirm-open-sign-in').click(function(){
                $('.btn-close-modal-confirm').click();
                $('.modal__sign-in').addClass('active');
            });

            //CSS students list
            const maxRenderStudents = $('.course-info__register-pics').attr('maxRenderStudents');
            $('.register-pic-item').each(function(index){
                if(index >= maxRenderStudents)
                    $(this).css('display', 'none');
                $(this).css('left', `${-index * 8}px`);
                $(this).css('z-index', `${index}`);
            });

            $('.register-pic-item-etc').css('left', `${-maxRenderStudents * 8}px`);
            $('.register-pic-item-etc').css('z-index', `${maxRenderStudents}`);


            //Render rated
            const rated = $('.course-info__rating').attr('rated');
            function renderRated(){
                $('.course-info__rating-star').each(function(){
                    if ($(this).index() < Number(rated)) $(this).addClass('active');
                })
            }
            renderRated();

            //Rating on hover
            $('.course-info__rating-star').hover(function(){
                $('.course-info__rating-star').removeClass('active');
                const curIndex = $(this).index();
                $('.course-info__rating-star').each(function(){
                    if ($(this).index() <= curIndex)
                    $(this).addClass('active');
                })
            }, function(){
                $('.course-info__rating-star').removeClass('active');
                $('.course-info__rating-star').each(function(){
                    if ($(this).index() < Number(rated)) $(this).addClass('active');
                })
            });

            //Rating on click 
            $('.course-info__rating-star').click(function(){
                const rate = $(this).index() + 1;
                $('input[name="rate"]').attr('value', rate);
                $('#rateConfirmModal .modal-body p').html(`Đánh giá ${rate} sao cho khóa học ?`);
            });
        })
</script>