<div id="main-body" class="container">
        <div id="slider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div style="background-image: url(https://w0.peakpx.com/wallpaper/590/75/HD-wallpaper-anime-original-classroom.jpg);"  
                    class="d-block w-100"> </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url(https://i.pinimg.com/originals/be/96/a1/be96a12fe9f5fd8eaae8518455b4b6a3.png);"  
                    class="d-block w-100"> </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url(https://w0.peakpx.com/wallpaper/279/674/HD-wallpaper-anime-room-classroom.jpg);"  
                    class="d-block w-100"> </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
          
        <div id="content" class="mt-4 container-fluid">
            <div class="courses-list">
                <div class="course-list__header">
                  <h1 class="course-list__title mt-5">DANH SÁCH KHÓA HỌC</h1>
                  
                  <div class="row">
                    <div class="col-8">
                      <form class="d-flex course-list__search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                    <div class="col-4">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="course-list__filter" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark course-list__dropdown-list" aria-labelledby="course-list__filter">
                          <li><a class="dropdown-item active" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                </div>

                <div class="row course-list__body">
                  {{#each courses}}
                  <div class="course-item-wrapper col-4 mt-5" courseId="{{this._id}}">
                    <div class="course-item card">
                        <img src="img/courses/{{this.img}}" class="card-img-top course-item__img" alt="course-img">
                        <div class="card-body course-item__body">
                          <h3 class="card-title course-item__title">{{this.name}}</h3>
                          <p class="card-text course-item__description">{{this.description}}</p>
                          <div class="course-item__button ms-auto ">
                            <button class="btn btn-primary btn-light course-item__button-view">More Details</button>
                            <button class="btn btn-primary btn-dark course-item__button-resigter">Register</button>
                          </div>
                        </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
            </div>
            
        </div>
    </div>

    <form class="modal modal__sign-in" tabindex="-1" method="POST" action="/">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title modal__sign-in-title">Sign in</span>
            <button type="button" class="btn btn-light btn-switch-modal" data-bs-dismiss="modal">Sign up</button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="sign-in__user-name" class="form-label">User Name:</label>
              <input type="text" name="username" class="form-control" id="sign-in__user-name" placeholder="Your username....">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" name="password" class="form-control" id="sign-in__password" placeholder="Your password....">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-close-modal" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success modal__sign-in-btn-submit">Sign in</button>
          </div>
        </div>
      </div>
    </form>

    <form class="modal modal__sign-up" action="/account/signup" method="POST" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title modal__sign-up-title">Sign up</span>
            <button type="button" class="btn btn-light btn-switch-modal" data-bs-dismiss="modal">Sign in</button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="sign-up__user-name" class="form-label">User Name:</label>
              <input type="text" name="username" class="form-control" id="sign-up__user-name" placeholder="Your username...." required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" name="password" class="form-control" id="sign-up__password" placeholder="Your password...." required>
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label">Confirm Password:</label>
              <input type="password" name="confirm-password" class="form-control" id="sign-up__confirm-password" placeholder="Confirm your password...." required>
            </div>
            <div class="mb-3">
              <label for="full-name" class="form-label">Full name:</label>
              <input type="text" name="name" class="form-control" id="full-name" placeholder="Your full name...." required>
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Date of Birth</label>
              <div id="date">
                <input type="text" name="DOB-day" class="date__field form-control" placeholder="DD" required>
                <input type="text" name="DOB-month" class="date__field form-control" placeholder="MM" required>
                <input type="text" name="DOB-year" class="date__field form-control" placeholder="YYYY" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="sign-up__email" class="form-label">Email:</label>
              <input type="email" name="email" class="form-control" id="sign-up__email" placeholder="Your email..." required>
            </div>
            <div class="mb-3">
              <label for="sign-up__phone" class="form-label">Phone Number:</label>
              <input type="text" name="phone" class="form-control" id="sign-up__phone" placeholder="Your phone number..." required>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-close-modal" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success modal__sign-up-btn-submit">Sign up</button>
          </div>
        </div>
      </div>
    </div>

    {{#each courses}}
    <div class="modal modal__course-detail-{{this._id}}" tabindex="-1">
      <div class="modal-dialog modal__course-detail-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title modal__course-detail-title">Chi tiết khóa học</span>
            <button type="button" class="btn-close btn-close-modal me-1" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row course-detail__body">
              <div class="col-8">
                <div class="detail__main">
                  <div class="main__img" style="background-image: url('img/courses/{{this.img}}');"></div>
                  <div class="main__title">{{this.name}}</div>
                  <div class="main__type">
                      {{#each this.courseTypes as |type|}}
                        {{#if type}}
                          <div class="main__type-item">
                            #{{type}}
                          </div>
                        {{/if}}
                      {{/each}}
                  </div>
                  <div class="main__description">{{this.description}}</div>
                  <div class="main__level">Trình độ {{this.level}}</div>
                  <div class="main__time">Đăng ngày:   {{modifyDate this.createdAt}}</div>
                  <div class="main__price">
                      Giá :
                      <div class="main__price-money">{{this.price}}đ</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="detail__sub">
                  <div class="sub__author">
                    <a href="" class="author">Sơn Đặng1</a>
                    <a href="" class="author">Sơn Đặng2</a>
                  </div>
                  <div class="lesson-title">DANH SÁCH BÀI HỌC</div>
                  <div class="sub__lesson-list">
                    {{#each this.courseLessons as |lesson|}}
                    <div class="lesson-item">
                      <div class="lesson-serial">{{sum @index 1}}</div>
                      <div class="lesson-name">{{lesson.name}}</div>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success modal__course-detail-btn-submit">Register</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

<script src="/js/home.js">

</script>