<div id="main-body" class="container">
        <div id="slider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div style="background-image: url(https://w0.peakpx.com/wallpaper/590/75/HD-wallpaper-anime-original-classroom.jpg);"  
                    class="d-block w-100"> </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url(https://i.pinimg.com/originals/be/96/a1/be96a12fe9f5fd8eaae8518455b4b6a3.png);"  
                    class="d-block w-100"> </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url(https://w0.peakpx.com/wallpaper/279/674/HD-wallpaper-anime-room-classroom.jpg);"  
                    class="d-block w-100"> </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
          
        <div id="content" class="mt-4 container-fluid">
            <div class="courses-list">
                <div class="course-list__header">
                  <h1 class="course-list__title mt-5">DANH SÁCH KHÓA HỌC</h1>
                  
                  <div class="row mt-4">
                    <div class="col-6">
                      <div class="d-flex course-list__search">
                        <input class="form-control" type="search" placeholder="Nhập tên khóa học...." aria-label="Search">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="dropdown course-filter-type">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="course-list__filter" data-bs-toggle="dropdown" aria-expanded="false">
                            Loại khóa học
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark course-list__dropdown-list" aria-labelledby="course-list__filter">           
                          {{#each coursetypes}}
                          <li><div class="dropdown-item course-filter-type-item">{{this.name}}</div></li>
                          {{/each}}
                          <li><hr class="dropdown-divider"></li>
                          <li><div class="dropdown-item course-filter-type-item active">Tất cả</div></li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="col-3">
                      <div class="dropdown course-filter-level">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="course-list__filter" data-bs-toggle="dropdown" aria-expanded="false">
                            Trình độ
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark course-list__dropdown-list" aria-labelledby="course-list__filter">
                          <li><div class="dropdown-item course-filter-level-item">Cơ bản</div></li>
                          <li><div class="dropdown-item course-filter-level-item">Trung bình</div></li>
                          <li><div class="dropdown-item course-filter-level-item">Nâng cao</div></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><div class="dropdown-item course-filter-level-item active">Tất cả</div></li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                </div>

                <div class="row course-list__body">
                  {{#each courses}}
                  <div class="course-item-wrapper col-4" courseId="{{this._id}}" 
                                                        courseName="{{this.name}}"  
                                                        courseLevel="{{this.level}}" 
                                                        courseType="{{#each this.courseTypes as |type|}}{{#if type}}{{type}} {{/if}}{{/each}}">
                    <div class="course-item card mt-5">
                        <a style="background-image: url({{this.img}});" href="/courses/show/{{this._id}}" target="_blank" class="card-img-top course-item__img" alt="course-img">
                            <div class="course-item__button-view">MORE DETAILS</div>
                        </a>
                        <div class="card-body course-item__body">
                          <h3 class="card-title course-item__title">{{this.name}}</h3>
                          <p class="card-text course-item__description">{{this.description}}</p>
                          <div class="course-item__button ms-auto ">
                            <button class="btn btn-outline-dark course-item__button-resigter">Register</button>
                          </div>
                        </div>
                    </div>
                  </div>
                  {{/each}}
                </div>

                <div class="row course-list__pagination mt-5 pt-5" max-page="{{div courses.length maxItemPerPage}}" max-item-per-page="{{maxItemPerPage}}">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<div class="modal modal-confirm" id="signInConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐĂNG KÍ KHÓA HỌC</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn phải đăng nhập trước</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-close-modal-confirm" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-success btn-confirm-open-sign-in">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/pagination.js"></script>

<script>
    $(document).ready(function(){
        if($('.navbar__btn-sign-in').html()){
            $('.course-item__button-resigter').attr('data-bs-toggle', 'modal');
            $('.course-item__button-resigter').attr('data-bs-target', '#signInConfirmModal');
        }
        else{
            $('.course-item__button-resigter').attr('data-bs-toggle', '');
            $('.course-item__button-resigter').attr('data-bs-target', '');
        }

        $('.btn-confirm-open-sign-in').click(function(){
            $('.btn-close-modal-confirm').click();
            $('.modal__sign-in').addClass('active');
        })
    })
</script>
