<div id="main-body" class="container">
        <div class="container" id="customize">
            <div class="customize__title">
                <h1 class="customize__title-text">
                    Cài đặt tài khoản
                </h1>
                <form class="customize__avatar" enctype="multipart/form-data" method="POST" action="/me/account/edit-avatar">
                    <div class="customize__edit-img">
                        {{#if (isNone userInfo.img)}}
                                <img class="uploaded-img" src="/img/users/default-avatar.jpg" alt="avatar-img">
                        {{else}}
                                <img class="uploaded-img" src="{{userInfo.img}}" alt="avatar-img">
                        {{/if}}
                        <img src="/img/users/camera.png" alt="camera-img" class="customize__avatar-icon">
                    </div>
                    <input type="file" accept="image/*" name="img" class="customize__input-file">
                    <button type="submit" class="btn btn-outline-light customize__input-file-confirm">Save</button>
                </form>
            </div>

            <form class="customize__body" method="POST" action="/me/account/edit?_method=PUT">
                <div class="customize__name">
                    <h3 class="input-label">Họ tên</h3>
                    <div class="customize__edit">
                        <input type="text" name="name" class="customize__input-text" maxlength="70px" value="{{userInfo.name}}" placeholder="Nhập tên của bạn">
                    </div>
                </div>
                <div class="customize__email mt-5">
                    <h3 class="input-label">Email</h3>
                    <div class="customize__edit">
                        <input type="text" name="email" class="customize__input-text" maxlength="70px" value="{{userInfo.email}}" placeholder="Nhập email của bạn">
                    </div>
                </div>
                <div class="customize__phone-number mt-5">
                    <h3 class="input-label">Số điện thoại</h3>
                    <div class="customize__edit">
                        <input type="text" name="phone" class="customize__input-text" maxlength="70px" value="{{userInfo.phone}}" placeholder="Nhập số điện thoại của bạn">
                    </div>
                </div>
                <div class="customize__date-of-birth mt-5">
                    <h3 class="input-label">Ngày sinh</h3>
                    <div class="customize__edit">
                        <div class="customize__edit-DOB">
                            <input type="text" name="DOB-day" class="customize__input-text-sm" maxlength="2px" value="{{userBirth.day}}" placeholder="DD">
                            <input type="text" name="DOB-month" class="customize__input-text-sm" maxlength="2px" value="{{userBirth.month}}" placeholder="MM">
                            <input type="text" name="DOB-year" class="customize__input-text-sm" maxlength="4px" value="{{userBirth.year}}" placeholder="YYYY">
                        </div>
                    </div>
                </div>
                <div class="btn btn-outline-light customize__edit-btn" data-bs-toggle="modal" data-bs-target="#editConfirmModal">Confirm Edit</div>
            </form>
        </div>
</div>


<div class="modal modal-confirm" id="editConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CHỈNH SỬA THÔNG TIN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn sửa những thông tin này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success btn-confirm-edit-course">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){

        $('head title').html(`${$('.customize__body input[name="name"]').val()}`);

        const inputImage = document.querySelector('.customize__input-file');
        const uploadedImage = document.querySelector('.uploaded-img');
        const btnUploadImage = document.querySelector('.customize__edit-img');
        const btnSaveUploadImage = document.querySelector('.customize__input-file-confirm');

        btnUploadImage.onclick = () => {
            inputImage.click();
        }

        inputImage.onchange = (event) => {
            uploadedImage.src = URL.createObjectURL(event.target.files[0]);
            btnSaveUploadImage.style.display = 'block';
        }

        $('.btn-confirm-edit-course').click(function(){
            $('.customize__body').submit();
        })
    })
</script>