<div id="main-body" class="container">
    <div id="content" class="mt-4 container-fluid">
        <div class="courses-list">
            <div class="course-list__header">
                <h1 class="course-list__title mt-5">KHÓA HỌC CỦA TÔI</h1>
                <div class="row mt-4">
                    <div class="col-6">
                        <div class="d-flex course-list__search">
                            <input class="form-control" type="search" placeholder="Nhập tên khóa học...." aria-label="Search">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dropdown course-filter-type">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="course-list__filter" data-bs-toggle="dropdown" aria-expanded="false">
                              Loại khóa học
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark course-list__dropdown-list" aria-labelledby="course-list__filter">           
                            {{#each coursetypes}}
                            <li><div class="dropdown-item course-filter-type-item">{{this.name}}</div></li>
                            {{/each}}
                            <li><hr class="dropdown-divider"></li>
                            <li><div class="dropdown-item course-filter-type-item active">Tất cả</div></li>
                          </ul>
                        </div>
                    </div>  
                    <div class="col-3">
                        <div class="dropdown course-filter-level">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="course-list__filter" data-bs-toggle="dropdown" aria-expanded="false">
                              Trình độ
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark course-list__dropdown-list" aria-labelledby="course-list__filter">
                            <li><div class="dropdown-item course-filter-level-item">Cơ bản</div></li>
                            <li><div class="dropdown-item course-filter-level-item">Trung bình</div></li>
                            <li><div class="dropdown-item course-filter-level-item">Nâng cao</div></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><div class="dropdown-item course-filter-level-item active">Tất cả</div></li>
                          </ul>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row course-list__body">
                {{#each courses}}
                <div class="course-item-wrapper col-4" courseId="{{this._id}}" 
                                                        courseName="{{this.name}}"  
                                                        courseLevel="{{this.level}}" 
                                                        courseType="{{#each this.courseTypes as |type|}}{{#if type}}{{type}} {{/if}}{{/each}}">
                  <div class="course-item card mt-5">
                      <a style="background-image: url({{this.img}});" href="/courses/show/{{this._id}}" target="_blank" class="card-img-top course-item__img" alt="course-img">
                          <div class="course-item__button-view">MORE DETAILS</div>
                      </a>
                      <div class="card-body course-item__body">
                        <h3 class="card-title course-item__title">{{this.name}}</h3>
                        <p class="card-text course-item__description">{{this.description}}</p>
                        {{#if this.myRegistry.result}}
                        <p class="card-text course-item__result">Kết quả: {{this.myRegistry.result}}</p>
                        {{else}}
                        <p class="card-text course-item__progress">
                            <i class="fas fa-spinner me-2"></i>
                            Đang học
                        </p>
                        {{/if}}
                        <div class="course-item__button ms-auto ">
                          <a href="/courses/show/{{this._id}}" target="_blank" class="btn btn-primary btn-light course-item__button-view">More Details</a>
                          <button class="btn btn-primary btn-danger course-item__button-resigter" data-bs-toggle="modal" data-bs-target="#deRegisterConfirmModal">Cancel Registry</button>
                        </div>
                      </div>
                  </div>
                </div>
                {{/each}}
            </div>

            <div class="row course-list__pagination mt-5 pt-5" max-page="{{div courses.length maxItemPerPage}}" max-item-per-page="{{maxItemPerPage}}">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-confirm" id="deRegisterConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">HỦY ĐĂNG KÍ KHÓA HỌC</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn hủy đăng kí khóa học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-close-modal-confirm" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger btn-confirm-de-register">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/pagination.js"></script>
<script>
    $(document).ready(function(){
        $('head title').html(`Khóa học của tôi`);
    })
</script>